<% provide(:title, "Log in") %>
<div class="formy">

  <section class= "login">
    <h1>Вход</h1>
  </section>

      <section class="login">
        <%= form_for(:session, url: login_path) do |f| %>

          <section class="vhod">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </section>

          <section class="vhod">
            <%= f.label :password, "Пароль" %>
            <%= f.password_field :password %>
          </section>

          <section class = "merem">
              <div class="remember-me">Запомнить меня</div>
              <%= f.label  :remember_me do %>
                <%= f.check_box :remember_me %>
              <% end %>
            <%= f.submit "Войти", id: "knopka-vhoda"%>
          </section>

        <% end %>
      </section>

      <section class="login">
        <p>Впервые на сайте? <%= link_to "Зарегистрируйтесь!", signup_path %></p>
      </section>

</div>
