<section class="title-page">
  <h1>Редактировать заметку</h1>
</section>

<div>

  <%= form_for :note, url: notes_path do |form| %>
    <% if @note.errors.any? %>
    <div id="error_explanation">
        <h2>
          <%= pluralize(@note.errors.count, "error") %> prohibited
          this note from being saved:
        </h2>
        <ul>
          <% @note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="vhod">
      <%= form.label :title %><br>
      <%= form.text_field(:title, {:class => 'form-control'}) %>
    </section>

    <section class="vhod">
      <%= form.label :body %><br>
      <%= form.text_area(:body, {:id => 'text-area'}) %>
    </section>

    <section class="vhod">
      <%= form.submit({:id => 'knopka-vhoda'}) %>
    </section>
  <% end %>

</div>

<%= link_to 'Назад', notes_path %>
