<section class="title-page">
  <h1>Все заметки</h1>
  <%= link_to 'Новая заметка', new_note_path %>
</section>

<section>
  <% @note.each do |note| %>
    <div class="contur">
      <section class = text_note>
        <h3><%= note.title %></h3>
        <p id = "body_note"><%= note.body %></p>
      </section>
      <section>
        <p><%= link_to 'Открыть', note_path(note) %></p>
        <p><%= link_to 'Редактировать', edit_note_path(note) %></p>
        <p><%= link_to 'Удалить', note_path(note),
                 method: :delete,
                 data: { confirm: 'Вы уверены?' } %></p>
      </section>
    </div>
  <% end %>

</section>
