<h1>Все заметки</h1>
<%= link_to 'Новая заметка', new_note_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
	<% @note.each do |note| %>
		<tr>
			<td> <%= note.id %> <%= " " + note.title %></td>	
			<td> <%= note.body %></td>
			<td> <%= link_to 'Открыть', note_path(note) %> </td>
			<td> <%= link_to 'Редактировать', edit_note_path(note) %> </td>	
			 <td><%= link_to 'Удалить', note_path(note),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
		</tr>
	<%end %>
</table>