<% provide(:title, 'Edit user') %>
<h1>Редактирование профиля</h1>

  <div class="formy">
    <section class="login">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <section class=vhod>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </section>

        <section class="vhod">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </section>

        <section class="vhod">
          <%= f.label :password , "Пароль" %>
          <%= f.password_field :password %>
        </section>

        <section class="vhod">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, id: "confirm-pass"%>
        </section>

        <section class="vhod">
          <%= f.submit "Применить изменения" , id: "knopka-vhoda" %>
        </section>

        <section class="vhod">
          <%= link_to "Изменить свой граватар" , "http://gravatar.com/emails", class: "gravatar"%>
          <%= gravatar_for @user %>
        </section>

      <% end %>


    </section>
  </div>
