<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>
<div class="formy">
  <section class = "login">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <section class="vhod">
          <%= f.label :name, "Имя" %>
          <%= f.text_field :name %>
        </section>

        <section class="vhod">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </section>

        <section class="vhod">
          <%= f.label :password, "Пароль" %>
          <%= f.password_field :password %>
        </section>

        <section class="vhod">
          <%= f.label :password_confirmation, "Еще раз пароль" %>
          <%= f.password_field :password_confirmation, id: "confirm-pass" %>
        </section>

        <section class="vhod">
            <%= f.submit "Создать аккаунт", id: "knopka-vhoda" %>
        </section>

      <% end %>
    </section>
</div>


