<header>
      <nav>
        <span class = "header-label">Blocknode</span>
        <span><%=link_to "Заметки", notes_path %> </span>
        <span><%=link_to "Напоминания", reminders_path %> </span>
      </nav>


      <ul>
          <li><%=link_to "Help", '#'%> </li>
          
          <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li>
            <ul>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
</header>
