<header class="navbar navbar-fixed-top navbar-inverse">
      <nav>
        <span class = "bar font-weight-bold"><big><big><big><big><big>Blocknode</big></big></big></big></big></span>
        <span><%=link_to "Заметки", notes_path %> </span>
        <span><%=link_to "Напоминания", reminders_path %> </span>
      </nav>

      <ul class="nav navbar-nav navbar-right">
          <li><%=link_to "Home", "#"%></li>
          <li><%=link_to "Help", '#'%> </li>
          <li><%=link_to "Login", '#'%></li>
      </ul>
</header>
