<header>
      <nav>
        <span class = "header-label">Blocknode</span>
        <span><%=link_to "Заметки", notes_path %> </span>
        <span><%=link_to "Напоминания", reminders_path %> </span>
      </nav>


      <ul>
          <li class="pop">Помощь</li>
          <% if logged_in? %>
            <li><%= link_to "Профиль", current_user %></li>
            <li><%= link_to "Опции", edit_user_path(current_user) %></li>
            <li>
              <%= link_to "Выйти", logout_path, method: "delete" %>
            </li>
          <% else %>
            <li><%= link_to "Войти", login_path %></li>
          <% end %>
      </ul>

    <div class="dropdown" id="popup1">
      <div class="dropdown-content">
          <p>Если у вас возникли проблемы и вам требуется помощь -
            свяжитесь с <%=link_to "разработчиком сайта" , "https://t.me/isaeviv"%>
          </p>
          <p id="pop2">Скрыть</p>
      </div>
    </div>
</header>
